/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/*=============== ESTILOS DE VARIABLES ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colores ==========*/
  /*Color en HSL(hue, saturation, lightness)*/
  --first-color: hsl(176, 96%, 69%);
  --second-color: hsl(176, 62%, 51%);
  --first-gradient: linear-gradient(90deg,
                  hsl(176, 62%, 51%),
                  hsl(176, 96%, 69%));
  --title-color: hsl(180, 13%, 15%);
  --text-color: hsl(225, 12%, 24%);
  --text-color-light: hsl(255, 4%, 70%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 100%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(228, 19%, 5%);
  --gray-border: hsl(255, 6%, 90%);
  --black-border: hsl(255, 10%, 20%);

  /*========== Fuentes y tipografia ==========*/
  /*RECORDAR .5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --big-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Peso de la fuente ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Tipografía responsiva ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CLASES REUSABLES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  display: block;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--second-color);
  margin-bottom: .5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER Y NAV ===============*/
.header {
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: background-color .4s;
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.nav__logo span {
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.nav__logo i {
    color: var(--first-color);
    font-size: 1.5rem;
}

.nav__toggle, 
.nav__close {
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
    transition: color .4s;
}
/* Navegacion para dispositivos moviles */
@media screen and (max-width: 1150px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--black-color);
        width: 80%;
        height: 100%;
        padding: 7.5rem 3.5rem 0;
        border-left: 2px solid var(--black-border);
        transition: right .4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

.nav__link {
    color: var(--text-color-light);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* MOSTRAR MENU */
.show-menu {
    right: 0;
}

/* Cambia el color del Header */
.bg-header {
    background-color: var(--body-color);
    box-shadow: 0 4px 16px rgba(11, 2, 39, 0.1);
}

.bg-header .nav__logo span,
.bg-header .nav__toggle {
    color: var(--title-color);
}


/*=============== HOME ===============*/
.home {
    position: relative;
    background-color: var(--black-color);
}

.home__container {
    position: relative;
    row-gap: 3rem;
    padding-block: 2.5rem 6rem;
}

.home__content {
    row-gap: 2.5rem;
}

.home__data {
    text-align: center;
}

.home__title {
    color: var(--white-color);
    font-size: var(--big-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 1rem;
}

.home__description {
    margin-bottom: 2.5rem;
    color: var(--text-color-light);
}

.home__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.home__info {
    display: flex;
    justify-content: center;
    column-gap: 4.5rem;
}

.home__info-title {
    color: var(--second-color);
    font-size: var(--big-font-size);
    font-weight: var(--font-bold);
    margin-bottom: .5rem;
}

.home__info-description {
    font-size: var(--small-font-size);
    color: var(--white-color);
}

.home__images {
    position: relative;
    justify-self: center;
}

.home__img-1 {
    width: 250px;
    margin-left: 3.5rem;
}

.home__img-2 {
    width: 150px;
    border: 5px solid var(--black-color);
    position: absolute;
    left: 0;
    bottom: -3.5rem;
}

/*=============== BUTTON ===============*/
.button {
    display: inline-flex;
    background: var(--first-gradient);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    padding: 1rem 2rem;
    transition: box-shadow .4s;
}
.button:hover {
    box-shadow: 0 8px 32px hsla(184, 95%, 55%, 0.3);
    color: var(--white-color);
}

.button__link {
    display: flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--first-color);
}

.button__link span {
    font-weight: var(--font-semi-bold);
}

.button__link i {
    font-size: 1.5rem;
    transition: transform .4s;
}

.button__link:hover i {
    transform: translateX(.25rem);
}

/*=============== BIO ===============*/
.bio__container {
    row-gap: 8rem;
}

.bio__data{
    text-align: center;
}

.bio__description {
    margin-bottom: 2rem;
}

.bio__list {
    text-align: initial;
    grid-template-columns: repeat(2, 130px);
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.bio__list-item {
    display: flex;
    column-gap: .5rem;
    color: var(--title-color);
}

.bio__list-item i {
    font-size: 1.25rem;
    color: var(--first-color);
}

.bio__images {
    position: relative;
    justify-self: center;
}

.bio__img-1 {
    width: 200px;
    border: 5px solid var(--body-color);
    position: absolute;
    top: -5rem;
    left: 6rem;
}

.bio__img-2 {
    width: 250px;
    margin-right: 2.5rem;
}


/*=============== EDUCACION ===============*/
.experiencia {
    background-color: var(--black-color);
}

.experiencia .section__title {
    color: var(--white-color);
}

.experiencia__container {
    padding-block: 1.5rem 3rem;
}

.experiencia__card {
    background-color: var(--container-color);
    border: 2px solid transparent;
    background-clip: content-box;
    transition: border-color .4s;
}

.experiencia__card:hover {
    border-color: var(--first-color);
}

.experiencia__data {
    padding: 1.5rem 1rem .5rem;
}

.experiencia__title {
    font-size: var(--h2-font-size);
    margin-block: .5rem;
}

.experiencia__date {
    display: block;
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin-bottom: 1rem;
}


/*=============== PROYECTOS ===============*/
.proyectos {
    position: relative;
}

.proyectos__container {
    position: relative;
    row-gap: 3rem;
}

.proyectos__data {
    text-align: center;
}

.proyectos__description {
    margin-bottom: 2rem;
}

.proyectos__card {
    width: 260px;
    background-color: var(--container-color);
    border: 2px solid var(--gray-border);
    padding: 2rem 1rem 3.5rem;
    transition: border-color .4s;
}

.proyectos__card:hover {
    border-color: var(--first-color);
}

.proyectos__icon {
    width: 70px;
    height: 70px;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.proyectos__title {
    font-size: var(--h2-font-size);
    margin-bottom: .5rem;
}

.proyectos__shape {
    position: absolute;
    width: 100%;
    height: 245px;
    background-color: var(--black-color);
    bottom: 0;
    left: 0;
}

/* Swiper BIBLIOTECA EXTERNA, ESTILOS */
.swiper {
    margin-inline: initial;
    padding-bottom: 4rem;
}

.swiper-button-prev::after, 
.swiper-button-next::after {
    content:'';
} 

.swiper-button-prev, 
.swiper-button-next {
    position: absolute;
    transform: translateY(-50%); 
    z-index: 10;
    bottom: 5px;
    width: 32px;
    height: 32px;
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
} 

.swiper-button-prev {
    left: calc(50% - 3rem);
}

.swiper-button-next {
    left: calc(50% + 3rem);
}


/*=====================TESTIMONIOS==========================*/

.testimonios {
    margin-top: 5rem;
    padding: 40px 40px 70px 40px;
    text-align: center;
  }
  
  .testimonios .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1.3rem;
  }
  
  .testimonio {
    border: 3px solid #8080804d;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    transition: all 0.2s ease-in;
  }
  .testimonio-img {
    border-radius: 50%;
    display: block;
    width: 100px;
    height: auto;
    transition: all 0.2s ease-in;
  }
  
  .testimonio-img:hover {
    transform: scale(1.1);
  }
  
  .testimonio:hover {
    transform: translateY(-10px);
  }
  .testimonio-header {
    font-size: var(--h2-font-size);
    color: var(--second-color);
    margin-top: 1.2rem;
  }

.testimonio p{
    padding: 1rem 1rem .5rem;
    font-size: var(--font-regular);
    color: var(--text-color);
}


/*=============== CONTACTO ===============*/
.contacto__shape {
        position: absolute;
        width: 100%;
        height: 80px;
        background-color: var(--black-color);
        bottom: 5;
        left: 0;
}

#contacto {
    margin-top: 5rem;
}
.contacto__container {
    row-gap: 3rem;
    padding-block: 1.5rem 3rem;
}

.contacto__img {
    width: 320px;
    justify-self: center;
}

.contacto__data {
    grid-template-columns: 230px;
    justify-content: center;
    row-gap: 1.5rem;
}

.contacto__card {
    background-color: var(--container-color);
    border: 2px solid var(--gray-border);
    padding: 1.5rem 2rem;
    text-align: center;
    transition: border-color .4s;
}

.contacto__card:hover {
    border-color: var(--first-color);
}

.contacto__icon {
    width: 48px;
    height: 48px;
    background-color: var(--second-color);
    color: var(--white-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 2rem;
    margin: 0 auto 1.25rem;
}

.contacto__title {
    font-size: var(--h2-font-size);
    margin-bottom: .5rem;
}

.contacto__info {
    font-style: normal;
}

.contacto__social {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.contacto__social-link {
    font-size: 1.5rem;
    color: var(--second-color);
    transition: transform .4s;
}

.contacto__social-link:hover {
    transform: translateY(-.25rem);
}

/*=============== FOOTER ===============*/
.footer {
    background-color: var(--black-color);
    color: var(--text-color-light);
    padding-block: 3.5rem 2rem;
}

.footer__container {
    row-gap: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid var(--black-border);
}

.footer__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.footer__logo span {
    color: var(--white-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
}

.footer__logo i {
    color: var(--first-color);
    font-size: 1.5rem;
}

.footer__description {
    margin-block: 1rem;
}

.footer__email,
.footer__info {
    font-style: normal;
}

.footer__content {
    grid-template-columns: repeat(2, max-content);
    gap: 4rem 3rem;
}

.footer__title {
    font-size: var(--h3-font-size);
    color: var(--white-color);
    margin-bottom: 1rem;
}

.footer__links,
.footer__list {
    display: grid;
    row-gap: .5rem;
}

.footer__link {
    color: var(--text-color-light);
    transition: color .4s;
}

.footer__link:hover {
    color: var(--first-color);
}

.footer__social {
    display: flex;
    column-gap: 1rem;
}

.footer__social-link {
    font-size: 1.5rem;
    color: var(--first-color);
    transition: transform .4s;
}

.footer__social-link:hover {
    transform: translateY(-.25rem);
}

.footer__copy {
    display: block;
    text-align: center;
    font-size: var(--small-font-size);
    margin-top: 4rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .7rem;
    background-color: hsl(255, 5%, 75%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(255, 5%, 65%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(255, 5%, 55%);
}

/*=============== FLECHA PARA SCROLL UP ===============*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--body-color);
    box-shadow: 0 4px 16px hsla(255, 90%, 8%, .15);
    color: var(--title-color);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s;
}

.scrollup:hover {
    transform: translateY(-.5rem);
}


/* Muestra el Scroll Up */
.show-scroll {
    bottom: 3rem;
}

/*=============== RESPONSIVO ===============*/
/* PEQUEÑO */
@media screen and (max-width: 340px) {
    .container{
        margin-inline: 1rem;
    }

    .section__title {
        font-size: 1.25rem;
    }

    .home__title{
        font-size: 1.75rem;
    }
    .home__buttons {
        flex-direction: column;
    }
    .home__img-1 {
        width: 200px;
        margin-left: 1.5rem;
    }
    .bio__list {
        grid-template-columns: repeat(1, 200px);
    }
    .bio__img-1 {
        width: 150px;
        left: 4rem;
    }
    .bio__img-2 {
        width: 200px;
        margin-right: 0;
    }
    .footer__content {
        grid-template-columns: repeat(1, max-content);
    }
}

/* MEDIANO */
@media screen and (min-width: 540px) {
    .home__container,
    .bio__container,
    .experiencia__container,
    .contacto__container {
        grid-template-columns: 360px;
        justify-content: center;
    }
    .footer__content {
        grid-template-columns: repeat(3, max-content);
    }
}

@media screen and (min-width: 768px) {
    .nav__menu {
        width: 50%;
    }
    .experiencia__container {
        grid-template-columns: repeat(2, 330px);
    }
    .contacto__data {
        grid-template-columns: repeat(2, 240px);
    }
    .footer__container {
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }
}

/* GRANDE */
@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }
    .section {
        padding-block: 7rem 2rem;
    }
    .nav{
        height: calc(var(--header-height) + 2rem);
    }
    .nav__toggle,
    .nav__close{
        display: none;
    }
    .nav__menu {
        width: initial;
    }
    .nav__list {
        flex-direction: row;
        align-items: center;
        column-gap: 4rem;
    }
    .bg-header .nav__link {
        color: var(--text-color);
    }
    .bg-header .active-link,
    .bg-header .nav__link:hover {
        color: var(--white-color);
    }
    .home__container {
        grid-template-columns: 475px 550px;
        column-gap: 6rem;
        align-items: flex-start;
        padding-top: 5.5rem;
    }
    .home__content{
        row-gap: 4.5rem;
    }
    .home__data {
        text-align: initial;
    }
    .home__description {
        margin-bottom: 3rem;
    }
    .home__buttons {
        justify-content: initial;
        column-gap: 3rem;
    }
    .home__info {
        justify-content: initial;
        column-gap: 5.5rem;
    }
    .home__info-description {
        font-size: var(--normal-font-size);
    }
    .home__img-1{
        width: 550px;
        margin-left: 0;
    }
    .home__img-2 {
        width: 350px;
        border-width: 10px;
        left: -7rem;
        bottom: -8rem;
    }
    .home__lines {
        object-position: center;
    }

    .bio__container {
        grid-template-columns: repeat(2, 480px);
        column-gap: 9rem;
        padding-block: 9rem 2rem;
    }
    .bio__images {
        order: -1;
    }
    .bio__img-1 {
        width: 370px;
        border-width: 10px;
        top: -9rem;
        left: 11rem;
    }
    .bio__img-2 {
        width: 470px;
    }
    .bio__data,
    .bio__data :is(.section__title, .section__subtitle) {
        text-align: initial;
    }
    .bio__list {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 3.5rem;
    }

    .proyectos__container {
        grid-template-columns: initial;
        row-gap: 5rem;
        padding-bottom: 4.5rem;
    }
    .proyectos__data {
        display: grid;
        grid-template-columns: 415px 370px max-content;
        justify-content: space-between;
        align-items: center;
    }
    .proyectos__data :is(.section__title, .section__subtitle),
    .proyectos__description {
        text-align: initial;
    }
    .proyectos__data .section__title {
        margin-bottom: 0;
    }
    .proyectos__swiper {
        max-width: 1100px;
    }
    .proyectos__card {
        width: 348px;
        border-width: 3px;
        padding: 3.5rem 2rem 6rem;
    }
    .proyectos__shape {
        height: 330px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        bottom: 60px;
    }
    .experiencia__container {
        grid-template-columns: repeat(3, 350px);
        column-gap: 2rem;
        padding-block: 5rem 4rem;
    }
    .experiencia__card {
        border-width: 3px;
    }
    .experiencia__data {
        padding: 2rem 1.5rem 4rem;
    }

    .contacto :is(.section__title, .section__subtitle) {
        text-align: initial;
    }
    .contacto__container {
        grid-template-columns: 530px 515px;
        justify-content: initial;
        align-items: flex-start;
        column-gap: 3.5rem;
        padding-block: 3.5rem 4rem;
    }
    .contacto__img {
        width: 530px;
    }
    .contacto__data {
        gap: 2rem;
    }
    .contacto__card {
        border-width: 3px;
    }
    .contacto__title {
        font-size: var(--h3-font-size);
    }

    .footer {
        padding-block: 4.5rem 3rem;
    }
    .footer__container {
        padding-bottom: 6rem;
    }
    .footer__description {
        margin-block: 1.5rem;
    }
    .footer__title {
        margin-bottom: 1.5rem;
    }
    .footer__links,
    .footer__list {
        row-gap: 1rem;
    }
    .scrollup {
        right: 3rem;
    }
}